@model CarViewModel
@{

}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="parent">
        <div class="div1">
            <h2>Inventory</h2>
            <select id="carDropDown" size="10">
                @foreach (var item in Model.Itemlist)
                {
                    <option>@item.ToString()</option>
                }
            </select>
            <br />
        </div>

        <div class="div2">
            <h2>Add Car</h2>

            @using (Html.BeginForm("Index", "Home"))
            {
                @Html.ValidationSummary(true, "",new { @class = "text-danger"})

                @Html.LabelFor(model => model.Make, "Make")
                @Html.EditorFor(model => model.Make)
                @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })

                <br />
                @Html.LabelFor(model => model.Model, "Model")
                @Html.EditorFor(model => model.Model)
                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })


                <br />
                @Html.LabelFor(model => model.Milage, "Milage")
                @Html.EditorFor(model => model.Milage)
                @Html.ValidationMessageFor(model => model.Milage, "", new { @class = "text-danger" })

                <br />

                @Html.LabelFor(model => model.Year, "Year")
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })


                <input type="submit" value="Add Car" />
            }

            <br />
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}